@page "/"
@inherits CounterBase
@namespace DessertRate.Pages

<PageTitle>Dessert Rate</PageTitle>

<div class="p-2 sticky-top action-bar">
    <div class="d-flex flex-row align-items-center">
        <div>
            <span class="title-text">Sort By:&nbsp;</span>
        </div>
        <div>
            <button class="btn btn-sm btn-primary" type="button" @onclick="ClickSortID"><span class="display-6">
                    Dessert #</span></button>
        </div>
        <div class="ms-2">
            <button class="btn btn-sm btn-primary" type="button" @onclick="ClickSortRank"><span class="display-6">
                    Rank</span></button>
        </div>
    </div>
</div>

<div class="mt-2 mb-4">
    <div class="display-7 title-text">Rank Desserts (1 = Favorite, @RatingModel.RatingRows.Count = Least Favorite)
        <small>v1.0.2</small>
    </div>
    <EditForm OnValidSubmit="@HandleValidSubmit" method="POST" Model="@RatingModel">

        <ul class="mt-4 list-group">
            @foreach (var item in RatingRows)
            {
                <li class="mb-2 list-group-item">
                    <div class="d-flex flex-row align-items-center">
                        <div>
                            <div class="h6 title-text">@item.DessertID</div>
                            <img src="@item.ImageURL" width="180" height="120" class="dessert-image rounded" alt="image1"
                                title="image1" />
                        </div>
                        <div class="ms-4">
                            <label>
                                <div>Rank:</div>
                                <InputNumber id="value" @bind-Value="item.Ranking" class="rank-input rounded" min="1"
                                    max="@RatingModel.RatingRows.Count" @key="item.DessertID" style="width:60px" />
                            </label>
                        </div>
                        <div class="ms-4">
                            <div>&nbsp;</div>
                            <div>
                                <button type="button" class="btn btn-primary" @onclick="@((e)=>ClickPlus(item))"><span
                                        class="display-6">&#9650;</span></button>
                            </div>
                            <div class="mt-1">
                                <button type="button" class="btn btn-primary" @onclick="@((e)=>ClickMinus(item))"><span
                                        class="display-6">&#9660;</span></button>
                            </div>

                        </div>
                    </div>
                </li>
            }
        </ul>

        <div class="d-flex justify-content-center">
            @if (RatingModel.Valid)
            {
                <div>
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="mt-4 mb-4">
                        <label><span class="title-text">Name:</span>
                            <InputText id="name" @bind-Value="Name" @oninput="@OnChangeName" placeholder="Type your name"
                                maxLength="30" />
                        </label>
                    </div>
                    <button class="btn btn-success" type="submit"><span class="display-5">Save</span></button>
                    @* <button disabled="@GetSubmitDisabled()" class="btn btn-primary" type="submit">Vote!</button> *@

                </div>
            }
            else
            {
                <div class="alert alert-warning" role="alert">
                    <div>You have a duplicate rank somewhere so you cannot save.</div>
                    <div>Try sorting by rank to help.</div>
                </div>
            }
        </div>
    </EditForm>

</div>

@* <input type="text" name="name" @oninput="@OnChangeName" @bind-value="@Name"> *@
<div class="d-flex justify-content-center">
    <form action="https://formspree.io/f/xzzbaajv" method="POST">
        <input type="hidden" name="email" @bind-value="@Email">
        <textarea style="visibility: hidden" name="message">
            @Message
    </textarea>
        <button disabled="@GetSubmitDisabled()" class="btn btn-primary btn-lg" type="submit">Vote!</button>
    </form>
</div>